{
  auto_https disable_redirects
}

http://egregoros.test {
  reverse_proxy egregoros_web:4000 {
    header_up X-Forwarded-Proto https
  }
}

https://egregoros.test {
  tls internal
  reverse_proxy egregoros_web:4000
}

http://egregoros2.test {
  reverse_proxy egregoros2_web:4000 {
    header_up X-Forwarded-Proto https
  }
}

https://egregoros2.test {
  tls internal
  reverse_proxy egregoros2_web:4000
}

http://pleroma.test {
  reverse_proxy pleroma_web:4000
}

https://pleroma.test {
  tls internal
  reverse_proxy pleroma_web:4000
}

http://mastodon.test {
  reverse_proxy mastodon_web:3000
}

https://mastodon.test {
  tls internal
  reverse_proxy mastodon_web:3000
}
